.last_flex{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

.last_heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 3%;
    /* identical to box height */
    
    
    color: #028908;
}

.last_body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
/* or 24px */


/* Color / Gray 2 */

    color: #616161;
}


.form_div{
    padding-bottom: 10%;
}

.copyright{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-top: 3%;
/* identical to box height, or 24px */


    color: #000000;
}

.last_form{
    background: #F4F5F7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    
    color: #828282; 
}

.greenbg{
    background-color: #028908;
    padding-top: 5%;
    
}